<!DOCTYPE html>
<html lang="pt">
<head>
    <title>
        {% block title %}{% endblock %}<!--removeIf(production)-->#e11aeca0e7e00447b2d72d96cd55c32b4273ad29f1f2b48ae73d692475825979<!--endRemoveIf(production)-->
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bundle.css') }}">
</head>
<body>
<div class="__base__">
    {% include "navbar/navbar.html" %}
    {% block content %}
    {% endblock %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>