{% macro page_header(title) %}
    <div class="page-header title">
        <h3>{{ title }}</h3>
    </div>
{%- endmacro %}

{% macro static_flash_messages(dissmissible=False) %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category|is_static %}
            {% if category|get_level == R.string.success %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% elif category|get_level == R.string.info %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif category|get_level == R.string.warning %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif category|get_level == R.string.error %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}
{%- endmacro %}