<!DOCTYPE html>
<html lang="pt">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{{ url_for('bootstrap.static', filename='css/bootstrap.css') }}">
</head>
<body>
{% block content %}
{% endblock %}

<script type="text/javascript" src="{{ url_for('bootstrap.static', filename='js/bootstrap.js') }}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>